# Exploratory data analysis

## Import packages

In [3]:
from pyspark.sql import SparkSession
import pyspark.sql.functions as f
import os

## set environment variables for aws and avro for spark and bucket link

In [4]:
with open("work/aws_access_key_id") as file:
    os.environ["AWS_ACCESS_KEY_ID"] = file.readline()

In [5]:
with open("work/aws_secret_access_key") as file:
    os.environ["AWS_SECRET_ACCESS_KEY"] = file.readline()

In [6]:
os.environ['PYSPARK_SUBMIT_ARGS'] = "--packages org.apache.spark:spark-avro_2.12:3.5.1,org.apache.hadoop:hadoop-aws:3.3.4 pyspark-shell"

In [7]:
url = "s3a://bucket-uci-retail-project-1/bronze/kafka/sales_events/"

## set up spark connection

In [8]:
spark = ( 
         SparkSession.builder
        .appName("Read Avro from S3")
        .config("spark.hadoop.fs.s3a.impl", "org.apache.hadoop.fs.s3a.S3AFileSystem")
        .config("spark.hadoop.fs.s3a.aws.credentials.provider", "com.amazonaws.auth.DefaultAWSCredentialsProviderChain")
        .config("spark.sql.extensions", "io.delta.sql.DeltaSparkSessionExtension")
        .getOrCreate()
)

## print schema of sales events

In [9]:
df = spark.read.format("avro").load(url)
df.printSchema()

root
 |-- InvoiceNo: string (nullable = true)
 |-- InvoiceDate: timestamp (nullable = true)
 |-- CustomerID: string (nullable = true)
 |-- Country: string (nullable = true)
 |-- OrderList: array (nullable = true)
 |    |-- element: struct (containsNull = true)
 |    |    |-- StockCode: string (nullable = true)
 |    |    |-- Description: string (nullable = true)
 |    |    |-- Quantity: integer (nullable = true)
 |    |    |-- UnitPrice: float (nullable = true)
 |-- year: integer (nullable = true)

In [10]:
df.show()

+---------+-------------------+----------+--------------+--------------------+----+
|InvoiceNo|        InvoiceDate|CustomerID|       Country|           OrderList|year|
+---------+-------------------+----------+--------------+--------------------+----+
|   567860|2011-09-22 13:53:00|     18102|United Kingdom|[{22720, SET OF 3...|2011|
|   567861|2011-09-22 14:01:00|       nan|United Kingdom|[{35597A, nan, -1...|2011|
|   567862|2011-09-22 14:02:00|       nan|United Kingdom|[{35591T, nan, -4...|2011|
|   567866|2011-09-22 14:13:00|     16669|United Kingdom|[{22423, REGENCY ...|2011|
|   567868|2011-09-22 14:18:00|     17603|United Kingdom|[{84949, SILVER H...|2011|
|   567869|2011-09-22 14:18:00|     16669|United Kingdom|[{M, Manual, 5, 0...|2011|
|   567873|2011-09-22 14:25:00|     13055|United Kingdom|[{22898, CHILDREN...|2011|
|   567874|2011-09-22 14:26:00|     13055|United Kingdom|[{23196, RETO LEA...|2011|
|   567879|2011-09-22 14:53:00|     16161|United Kingdom|[{20973, 12 PENCI...|2011|
|   567880|2011-09-22 14:56:00|     15398|United Kingdom|[{22383, LUNCH BA...|2011|
|   567881|2011-09-22 14:59:00|     15640|United Kingdom|[{21930, JUMBO ST...|2011|
|   567882|2011-09-22 15:03:00|     12906|United Kingdom|[{23188, VINTAGE ...|2011|
|   567883|2011-09-22 15:03:00|     12906|United Kingdom|[{21731, RED TOAD...|2011|
|  C567884|2011-09-22 15:08:00|     13627|United Kingdom|[{22909, SET OF 2...|2011|
|   567887|2011-09-22 15:28:00|     15237|United Kingdom|[{20971, PINK BLU...|2011|
|   567888|2011-09-22 15:34:00|     17079|United Kingdom|[{23298, SPOTTY B...|2011|
|   567890|2011-09-22 15:40:00|     14125|United Kingdom|[{22551, PLASTERS...|2011|
|   567893|2011-09-22 15:54:00|     17163|United Kingdom|[{22112, CHOCOLAT...|2011|
|   567894|2011-09-22 15:54:00|     16389|United Kingdom|[{84949, SILVER H...|2011|
|  C567896|2011-09-22 15:59:00|     14527|United Kingdom|[{D, Discount, -1...|2011|
+---------+-------------------+----------+--------------+--------------------+----+
only showing top 20 rows

## Analysis of non numeric Invoice numbers

In [11]:
df.withColumn(
    "Invoice_trimmed",
    f.expr("substring(InvoiceNo, 1, length(InvoiceNo) - 6)")
).dropDuplicates(
    ["Invoice_trimmed"]
).show()

+---------+-------------------+----------+--------------+--------------------+----+---------------+
|InvoiceNo|        InvoiceDate|CustomerID|       Country|           OrderList|year|Invoice_trimmed|
+---------+-------------------+----------+--------------+--------------------+----+---------------+
|   567860|2011-09-22 13:53:00|     18102|United Kingdom|[{22720, SET OF 3...|2011|               |
|  A563185|2011-08-12 14:50:00|       nan|United Kingdom|[{B, Adjust bad d...|2011|              A|
|  C567884|2011-09-22 15:08:00|     13627|United Kingdom|[{22909, SET OF 2...|2011|              C|
+---------+-------------------+----------+--------------+--------------------+----+---------------+

In [12]:
df.filter(
    f.expr("substring(InvoiceNo, 1, length(InvoiceNo) - 6)") == "A"
).withColumn(
    "Order",
    f.explode("OrderList")
).select(
    "InvoiceNo",
    "Order.*"
).show()

+---------+---------+---------------+--------+---------+
|InvoiceNo|StockCode|    Description|Quantity|UnitPrice|
+---------+---------+---------------+--------+---------+
|  A563185|        B|Adjust bad debt|       1| 11062.06|
|  A563186|        B|Adjust bad debt|       1|-11062.06|
|  A563187|        B|Adjust bad debt|       1|-11062.06|
+---------+---------+---------------+--------+---------+

## Analysis of non-numeric stock codes

In [13]:
df.withColumn(
    "Order",
    f.explode("OrderList")
).select(
    "Order.*"
).withColumn(
    "trimmed_stockcode",
    f.col("StockCode").substr(1, 5)
).withColumn(
    "lower_stockcode",
    f.lower(f.col("StockCode"))
).filter(
    ( f.col("trimmed_stockcode").cast("int").isNull() ) &
    ( f.col("UnitPrice") != 0 )
).dropDuplicates(
    ["lower_stockcode"]
).show(100, truncate=False)

+------------+----------------------------------+--------+---------+-----------------+---------------+
|StockCode   |Description                       |Quantity|UnitPrice|trimmed_stockcode|lower_stockcode|
+------------+----------------------------------+--------+---------+-----------------+---------------+
|AMAZONFEE   |AMAZON FEE                        |-1      |5942.57  |AMAZO            |amazonfee      |
|B           |Adjust bad debt                   |1       |11062.06 |B                |b              |
|BANK CHARGES|Bank Charges                      |1       |15.0     |BANK             |bank charges   |
|C2          |CARRIAGE                          |1       |50.0     |C2               |c2             |
|CRUK        |CRUK Commission                   |-1      |361.59   |CRUK             |cruk           |
|D           |Discount                          |-1      |18.62    |D                |d              |
|DCGS0003    |BOXED GLASS ASHTRAY               |1       |2.46     |DCGS0            |dcgs0003       |
|DCGS0004    |HAYNES CAMPER SHOULDER BAG        |1       |16.63    |DCGS0            |dcgs0004       |
|DCGS0069    |OOH LA LA DOGS COLLAR             |1       |15.79    |DCGS0            |dcgs0069       |
|DCGS0070    |CAMOUFLAGE DOG COLLAR             |1       |12.72    |DCGS0            |dcgs0070       |
|DCGS0076    |SUNJAR LED NIGHT NIGHT LIGHT      |1       |16.13    |DCGS0            |dcgs0076       |
|DCGSSBOY    |BOYS PARTY BAG                    |2       |3.29     |DCGSS            |dcgssboy       |
|DCGSSGIRL   |GIRLS PARTY BAG                   |1       |3.29     |DCGSS            |dcgssgirl      |
|DOT         |DOTCOM POSTAGE                    |1       |175.6    |DOT              |dot            |
|gift_0001_10|Dotcomgiftshop Gift Voucher £10.00|1       |8.33     |gift_            |gift_0001_10   |
|gift_0001_20|Dotcomgiftshop Gift Voucher £20.00|1       |16.67    |gift_            |gift_0001_20   |
|gift_0001_30|Dotcomgiftshop Gift Voucher £30.00|1       |25.0     |gift_            |gift_0001_30   |
|gift_0001_40|Dotcomgiftshop Gift Voucher £40.00|1       |33.33    |gift_            |gift_0001_40   |
|gift_0001_50|Dotcomgiftshop Gift Voucher £50.00|1       |41.67    |gift_            |gift_0001_50   |
|M           |Manual                            |5       |0.8      |M                |m              |
|PADS        |PADS TO MATCH ALL CUSHIONS        |1       |0.001    |PADS             |pads           |
|POST        |POSTAGE                           |2       |18.0     |POST             |post           |
|S           |SAMPLES                           |-1      |47.98    |S                |s              |
+------------+----------------------------------+--------+---------+-----------------+---------------+

## Check the split between model type and version

In [14]:
df.withColumn(
    "Order",
    f.explode("OrderList")
).select(
    "Order.*"
).withColumn(
    "StockCode",
    f.upper(f.col("StockCode"))
).withColumn(
    "trimmed_stockcode",
    f.col("StockCode").substr(1, 5)
).filter(
    ( f.col("trimmed_stockcode").cast("int").isNotNull() ) &
    ( f.col("UnitPrice") != 0 )
).withColumns(
    {
        "ProductModel": f.col("trimmed_stockcode"),
        "ProductVersion": f.when(
            f.length("StockCode") > 5,
            f.col("StockCode").substr(6, 100)
        ),
        "IsSpecial": 
            ( ~f.col("trimmed_stockcode").cast("int").isNotNull() ) &
            ( ~f.col("StockCode").startswith("DCGS") ) &
            ( ~f.col("StockCode").startswith("GIFT") )
    }
).show()

+---------+--------------------+--------+---------+-----------------+------------+--------------+---------+
|StockCode|         Description|Quantity|UnitPrice|trimmed_stockcode|ProductModel|ProductVersion|IsSpecial|
+---------+--------------------+--------+---------+-----------------+------------+--------------+---------+
|    22720|SET OF 3 CAKE TIN...|       8|     3.39|            22720|       22720|          NULL|    false|
|    23243|SET OF TEA COFFEE...|      24|     3.39|            23243|       23243|          NULL|    false|
|    22838|3 TIER CAKE TIN R...|       4|     9.98|            22838|       22838|          NULL|    false|
|    22842|BISCUIT TIN VINTA...|       6|     5.95|            22842|       22842|          NULL|    false|
|    22843|BISCUIT TIN VINTA...|       6|     4.67|            22843|       22843|          NULL|    false|
|    22839|3 TIER CAKE TIN G...|       4|     9.98|            22839|       22839|          NULL|    false|
|    22840|ROUND CAKE TIN VI...|       4|     5.49|            22840|       22840|          NULL|    false|
|    22841|ROUND CAKE TIN VI...|       4|     5.49|            22841|       22841|          NULL|    false|
|    22423|REGENCY CAKESTAND...|       3|    12.75|            22423|       22423|          NULL|    false|
|    22617|BAKING SET SPACEB...|       3|     4.95|            22617|       22617|          NULL|    false|
|    22138|BAKING SET 9 PIEC...|       3|     4.95|            22138|       22138|          NULL|    false|
|    21931|JUMBO STORAGE BAG...|       2|     2.08|            21931|       21931|          NULL|    false|
|    23202|JUMBO BAG VINTAGE...|       2|     2.08|            23202|       23202|          NULL|    false|
|    22080|RIBBON REEL POLKA...|       5|     1.65|            22080|       22080|          NULL|    false|
|   85099B|JUMBO BAG RED RET...|       4|     2.08|            85099|       85099|             B|    false|
|    22178|VICTORIAN GLASS H...|      12|     1.95|            22178|       22178|          NULL|    false|
|    22079|RIBBON REEL HEART...|       3|     1.65|            22079|       22079|          NULL|    false|
|    22078|RIBBON REEL LACE ...|       5|      2.1|            22078|       22078|          NULL|    false|
|    23298|      SPOTTY BUNTING|       2|     4.95|            23298|       23298|          NULL|    false|
|   47590A|BLUE HAPPY BIRTHD...|       3|     5.45|            47590|       47590|             A|    false|
+---------+--------------------+--------+---------+-----------------+------------+--------------+---------+
only showing top 20 rows

## check outliers

In [16]:
df.withColumn(
    "Order",
    f.explode("OrderList")
).select(
    "Order.*"
).filter(
    f.col("UnitPrice") > 10000
).show()

+---------+---------------+--------+---------+
|StockCode|    Description|Quantity|UnitPrice|
+---------+---------------+--------+---------+
|        B|Adjust bad debt|       1| 11062.06|
|        M|         Manual|      -1|  38970.0|
|AMAZONFEE|     AMAZON FEE|      -1| 13541.33|
|AMAZONFEE|     AMAZON FEE|       1| 13541.33|
|AMAZONFEE|     AMAZON FEE|      -1| 13474.79|
|AMAZONFEE|     AMAZON FEE|      -1| 16453.71|
|AMAZONFEE|     AMAZON FEE|      -1| 13541.33|
|AMAZONFEE|     AMAZON FEE|      -1| 16888.02|
+---------+---------------+--------+---------+

In [18]:
df.withColumn(
    "Order",
    f.explode("OrderList")
).select(
    "Order.*"
).filter(
    f.col("UnitPrice") < -10000
).show()

+---------+---------------+--------+---------+
|StockCode|    Description|Quantity|UnitPrice|
+---------+---------------+--------+---------+
|        B|Adjust bad debt|       1|-11062.06|
|        B|Adjust bad debt|       1|-11062.06|
+---------+---------------+--------+---------+